.navbar {
	border-bottom: 1px solid #1c1c1c2c;
	.nav {
		margin-left: auto;
		display: flex;
		flex-direction: row;
		gap: 0.5em;
		.link {
			position: relative;
			padding: 0.25em 0.75em;
			border-radius: 0.25rem;
			&:hover {
				background-color: rgb(255, 255, 255, 0.25);
			}
			.icon {
				font-size: 25px;
				color: #fff;
			}
		}
		.logout {
			@extend .link;
			background-color: transparent;
			border: 1px solid transparent;
			&:hover {
				background-color: hsla(0, 100%, 50%, 0.25);
			}
			.icon {
				position: relative;
				left: 2px;
				@extend .icon;
				color: red;
			}
		}
	}
}
