@import "../../../../style/variables";

.imagepicker {
	.body {
		width: 100%;
		max-width: 1080px;
		.back-button {
			background-color: $light;
			border: 1px solid $grey;
			color: $grey-dark;
			padding: 0.25em 1em;
			i {
				position: relative;
				top: 0.06rem;
			}
		}

		// menu
		.menu {
			display: flex;
			justify-content: space-evenly;
		}
		.options-buttons {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 7em;
			width: 40%;
			background-color: $light;
			border: 1px solid $grey;
			color: $dark;
			.button-icon {
				font-size: 1.5em;
			}
		}

		// gallery
		.gallery {
			position: relative;
			.grid {
				width: 100%;
				position: relative;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				margin-top: 1em;
				padding: 1em;
				.img-container {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 30%;
					margin: 1em;
					padding: 1em;
					background-color: $grey-light;
					border: 1px solid $grey-dark;
					img {
						width: 100%;
					}
				}
				&.mobile {
					padding: 0;
					.img-container {
						padding: 1em;
						margin: 0.5em;
						width: 100%;
					}
				}
			}

			//
			.action-container {
				padding: 0.5em;
				position: sticky;
				bottom: 1em;
				word-break: break-all;
				color: $light;
				background-color: $primary;
				border: 1px solid $dark;
				border-radius: 0.5rem;
				.action {
					display: flex;
					justify-content: flex-end;
					.pick {
						background-color: $light;
						color: $dark;
					}
				}
			}
		}

		// upload file
		.upload-file {
			.file-preview {
				width: 100%;
				.image-container {
					display: flex;
					justify-content: center;
					margin-bottom: 1em;
					img {
						width: 50%;
					}
				}
				.actions {
					display: flex;
					justify-content: flex-end;
					.save {
						border: 1px solid $dark;
						color: $dark;
						background-color: $success;
						i {
							display: inline-block;
							position: relative;
							top: 0.15rem;
							font-size: 1.3rem;
						}
					}
				}
			}
		}
	}
}
